In [1]:
from IPython.display import display, HTML,clear_output
# css = """
# .output {
# flex-direction: row;
# flex-wrap: wrap;
# }
# """

# HTML('<style>{}</style>'.format(css))

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
# %pip install --no-cache-dir matplotlib

# from pandasql import sqldf
import requests
import brotli
from datetime import datetime
import time
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [4]:
pd.options.mode.copy_on_write = True

In [5]:
origin_url="https://www.nseindia.com/market-data/most-active-contracts"
url = 'https://www.nseindia.com/api/snapshot-derivatives-equity?index=oi'
default_header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36"
}

header = {
             "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36",
             "Accept-Language": "en-US,en;q=0.9,hi;q=0.8"
            }


session = requests.session()
nse_live = session.get(origin_url, headers=default_header)
cookies = nse_live.cookies
session.get(url, headers=header, cookies=cookies)

In [6]:
v_df = pd.DataFrame(session.get(url, headers=header, cookies=cookies).json()['value']['data'])

In [7]:
columns = [
    "underlying", "expiryDate", "optionType", "strikePrice", "lastPrice", "numberOfContractsTraded",
    "totalTurnover", "openInterest", "underlyingValue", "pChange", "timestamp"
]
# Create an empty DataFrame
filter_df = pd.DataFrame(columns=columns)

In [ ]:
def main_dis_run(filter_df):
  try:
    while True:
      clear_output(wait=True)
      data = session.get(url,headers=header).json()['value']['data']
      df = pd.DataFrame(data)
      df.drop(columns =['identifier','instrumentType','instrument','premiumTurnover'],inplace=True)
      filtered_df = df[(df['underlying'] == 'NIFTY')].sort_values(by=['strikePrice', 'openInterest'], ascending=True)
      display(filtered_df)
      time.sleep(5)
  except Exception as e:
      clear_output(wait=True)
      print(f'trying to retry to re-slove issue')
      # raise e
      main_dis_run(filter_df)

main_dis_run(filter_df)

,underlying,expiryDate,optionType,strikePrice,lastPrice,numberOfContractsTraded,totalTurnover,openInterest,underlyingValue,pChange
0,NIFTY,26-Jun-2025,-,0,24900.40,27853,530988.299400,154921,24857.65,0.127067
18,NIFTY,19-Jun-2025,Put,24000,2.30,583113,1332.593220,138418,24857.65,-69.127517
15,NIFTY,19-Jun-2025,Put,24500,11.20,535508,5892.458010,131917,24857.65,-60.770578
12,NIFTY,19-Jun-2025,Put,24700,32.15,789319,22136.474040,132608,24857.65,-47.381342
4,NIFTY,19-Jun-2025,Put,24800,57.10,1323070,63598.891785,174148,24857.65,-38.236885
2,NIFTY,19-Jun-2025,Put,24900,100.35,1606891,117962.436600,147263,24857.65,-27.987083
1,NIFTY,19-Jun-2025,Call,24900,72.50,2056170,152698.285425,165343,24857.65,-4.100529
3,NIFTY,19-Jun-2025,Call,25000,36.70,1897879,78755.655150,174373,24857.65,-11.245466
11,NIFTY,19-Jun-2025,Call,25100,17.50,1090522,23451.075780,127405,24857.65,-21.524664
14,NIFTY,19-Jun-2025,Call,25200,8.85,1036465,11098.409400,138965,24857.65,-27.160494
16,NIFTY,19-Jun-2025,Call,25300,4.45,769846,4033.702380,134370,24857.65,-33.082707
17,NIFTY,19-Jun-2025,Call,25500,1.80,994416,1766.874532,164082,24857.65,-34.545455
19,NIFTY,19-Jun-2025,Call,26000,0.80,176842,113.983485,136456,24857.65,-27.272727

In [ ]:
# df = pd.read_csv('D:/badri/OptionChainData/nifty/nifty.csv')
# df_unique = df.drop_duplicates(subset=df.columns.difference(['timestamp']), keep='last')