In [1]:
%run commen_stock.ipynb

c:\Users\2199222\AppData\Local\Programs\Python\Python312\Lib\site-packages\nbformat\__init__.py:96: MissingIDFieldWarning: Cell is missing an id field, this will become a hard error in future nbformat versions. You may want to use `normalize()` on your notebooks before validations (available since nbformat 5.1.4). Previous versions of nbformat are fixing this issue transparently, and will stop doing so in the future.
  validate(nb)
The system cannot find the file specified.

In [2]:
import time

In [3]:
option_dataframe = pd.DataFrame(columns=['CALL_OI','PUT_OI','CALL_COI','PUT_COI' ,'CALL_TBQ','CALL_TSQ','PUT_TBQ','PUT_TSQ',])
max_df =  pd.DataFrame(columns=['max_CS','max_CB','max_CT','max_CTOI','max_COI','max_CCOI','STP','max_PCOI','max_POI','max_PTOI','max_PT',
                            'max_PB','max_PS'])

In [4]:
url ='https://www.nseindia.com/api/option-chain-equities?symbol=SBIN'

header = {
    "Connection": "keep-alive",
    "Cache-Control": "max-age=0",
    "DNT": "1",
    "Upgrade-Insecure-Requests": "1",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/111.0.0.0 Safari/537.36",
    "Sec-Fetch-User": "?1", "Accept": "*/*", "Sec-Fetch-Site": "none", "Sec-Fetch-Mode": "navigate",
    "Accept-Encoding": "gzip, deflate, br", "Accept-Language": "en-US,en;q=0.9,hi;q=0.8"
    }
session = requests.session()
nse_live = session.get("http://nseindia.com", headers=header)


mc_url = 'https://www.moneycontrol.com/india/stockpricequote/banks-public-sector/statebankindia/SBI'

In [5]:
def main_dis_run(option_dataframe,max_df,session,url,header,mc_url):
   try:
         run_main(option_dataframe,max_df,session,url,header,mc_url)
   except Exception as e:
         print(f'trying to retry to re-slove issue')
      #    raise e
      #    time.sleep(180)
         main_dis_run(option_dataframe,max_df,session,url,header,mc_url)

main_dis_run(option_dataframe, max_df, session,url,header,mc_url)

,CALL_OI,PUT_OI,CALL_COI,PUT_COI,CALL_TBQ,CALL_TSQ,PUT_TBQ,PUT_TSQ,VOL_DIFF,BUY_DIFF,SELL_DIFF,Signal
0,101114.0,43967.0,7149.0,736.0,12231750.0,11072250.0,8083500.0,3302250.0,1.609099,0.810931,1.23315,0
1,101114.0,43967.0,7149.0,736.0,12231750.0,11072250.0,8083500.0,3302250.0,1.609099,0.810931,1.23315,0

,max_CS,max_CB,max_CT,max_CTOI,max_COI,max_CCOI,STP,max_PCOI,max_POI,max_PTOI,max_PT,max_PB,max_PS
0,900,800,820,900,900,820,797,750,800,800,800,800,800
1,820,900,850,850,850,800,797,790,820,820,810,750,700
2,850,950,810,820,820,850,797,770,810,750,820,810,750

,CALL_IV,spread_call,CALL_OI,CALL_CHNG_OI,CALL_BQ,CALL_SA,STRICK_PRICE,PUT_SA,PUT_BQ,PUT_CHNG_OI,PUT_OI,spread_put,PUT_IV,Scenario
2,0.00,650.00,174.0,6.0,83250.0,69000.0,700,227250.0,483750.0,68.0,2314.0,8998.75,39.15,L-Writer
7,28.53,1446.20,917.0,47.0,64500.0,97500.0,750,186000.0,690000.0,517.0,3048.0,5995.50,32.04,L-Writer
12,26.37,732.25,4386.0,1266.0,1444500.0,690000.0,800,363000.0,819750.0,171.0,7170.0,1482.10,27.42,L-Writer
17,28.40,746.05,10562.0,1252.0,444750.0,1065000.0,850,74250.0,100500.0,-216.0,2052.0,696.25,29.64,L-Cover
22,35.78,2998.40,18462.0,486.0,1254750.0,1410000.0,900,57750.0,73500.0,-42.0,1187.0,649.20,41.41,L-Cover
27,42.04,17249.30,3289.0,-217.0,869250.0,302250.0,950,64500.0,63750.0,-6.0,278.0,4350.50,0.00,S-Cover
31,49.85,749.55,3304.0,-205.0,621750.0,335250.0,1000,43500.0,60750.0,0.0,178.0,555.10,0.00,S-Cover